<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.didikee.demos"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.act.DownLoadActivity">
        </activity>
        <activity android:name=".ui.act.AndroidFilePathActivity">
        </activity>
        <activity android:name=".ui.act.YaoYiYaoActivity">
        </activity>
        <activity android:name=".ui.act.FileChooserActivity">
        </activity>
        <activity android:name=".ui.act.SanJiaoActivity">
        </activity>
        <activity android:name=".ui.act.WebTestActivity">
        </activity>
        <activity android:name=".ui.act.MiGuoActivity">
        </activity>
        <activity android:name=".ui.act.GooglePlayH2RVActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.RevealEffectActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.GooglePlayTabRevealActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.CuteSwitchActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.HuaBanActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.HuaBanMenuActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.SelectorAnimateActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.NormalStagleRVActivity">
        </activity>
        <activity android:name=".ui.act.viewActivity.RippleJavaActivity">
        </activity>
    </application>

</manifest>